/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
.desktop {
  width: 90vw;
  margin: 20px auto;
  height: 800px;
  border: 4px solid;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.folder {
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: salmon;
  border: 1px solid;
  flex-shrink: 0;
}

.opened {
  margin: 20px;
  width: 70vw;
  height: 500px;
  font-size: 40px;
  font-weight: bold;
  background-color: white;
  z-index: 1000;
  border: 2px solid;
  position: absolute;
}

.icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: steelblue;
  border: 1px solid;
  flex-shrink: 0;
}

.dragging {
  opacity: 0.5;
}

.clicked {
  background-color: rgba(21, 35, 231, 0.452);
}
